@if (isOpen) {
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/60 backdrop-blur-sm p-4 animate-fade-in">
    <div class="bg-card w-full max-w-md rounded-2xl shadow-2xl border border-border-main relative p-8 animate-slide-up">
      
      <button 
          (click)="closeModal()" 
          class="absolute top-4 right-4 text-text-muted hover:text-red-500 transition-colors">
          <span class="material-symbols-outlined">close</span>
      </button>
  
      <div class="mb-6">
          <h2 class="text-2xl font-bold text-center text-brand mb-4">
              {{ serviceToEdit ? 'Editar Servicio' : 'Nuevo Servicio' }}
          </h2>
          
          <form class="flex flex-col gap-1" [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
              <div class="flex flex-col max-h-[60vh] overflow-y-auto pr-2 custom-scrollbar">
  
                  <div class="h-24 flex flex-col justify-start">
                      <label class="text-sm font-medium text-text-main mb-1">Nombre del Servicio</label>
                      <input class="p-2 rounded-xl border border-border-main bg-input text-text-main w-full placeholder-text-muted focus:outline-none focus:ring-2 focus:ring-brand disabled:opacity-50" 
                      type="text" formControlName="name" placeholder="Ej. Wi-Fi de alta velocidad">
                      
                      @if(serviceForm.get('name')?.invalid && serviceForm.get('name')?.touched){
                          <small class="text-red-500 mt-1 block animate-fade-in">El nombre es requerido</small>
                      }
                  </div>
                  
              </div>  
  
              <button class="bg-brand py-2 rounded-xl text-white font-medium hover:opacity-90 transition-opacity disabled:opacity-50 mt-2 flex justify-center items-center gap-2" 
                      type="submit" [disabled]="serviceForm.invalid || isSaving">
                      @if (isSaving) {
                        <span class="material-symbols-outlined animate-spin">progress_activity</span>
                        {{ serviceToEdit ? 'Actualizando...' : 'Guardando...' }}
                      } @else {
                        {{ serviceToEdit ? 'Actualizar Servicio' : 'Guardar Servicio' }}
                      }
              </button>
          </form>  
      </div>
    </div>
  </div>
}
